{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <nav class="nav-bar">
        <div class="logo">Organic</div>
        <div class="nav">
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Contacts</a></li>
                <li><a href="#">Contents</a></li>
            </ul>
        </div>
    </nav>
    <section class="hero">
        <div class="hero-text">
            <h1>THE ORGANIC<br><span>PLANTS</span></h1>
            <p class="details">Introducing our premium organic plants—nurtured with natural compost and free from synthetic chemicals for healthier growth. Each plant is carefully cultivated using sustainable practices to ensure purity, vitality, and environmental harmony. Bring home nature’s best with our chemical-free, nutrient-rich greens that promise freshness and well-being for you and the planet!</p>
            <p class="price">$99</p>
            <button class="order">Order Now</button>
        </div>
        <div class="hero-img">
            <img src="{% static 'product.png' %}" alt="">
        </div>
    </section>
</body>
</html>