{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>Document</title>
</head>
<body>
    <main>
        <div class="form-container">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                Reference Image: <input type="file" name="ref_image"><br>
                Test Image: <input type="file" name="test_image"><br>
                Highlight Color:
                <select name="color">
                    <option value="green">Green</option>
                    <option value="yellow">Yellow</option>
                    <option value="red">Red</option>
                    <option value="blue">Blue</option>
                    <option value="gray">Gray</option>
                </select><br>
                <input type="submit" value="Compare">
            </form>

                {% if result_image %}
                <h3>Comparison Result:</h3>
                <img src="{{ result_image }}" alt="Result">
                {% endif %}

        </div>
    </main>
</body>
</html>
