<html>
<body>
   <h2 style="text-align: center; color: red; 
      font-weight:900;">Server Error</h2>
   <p style="text-align: center; color: gray;">Something went wrong on our end. Please try again later.</p>
   <p style="text-align: center; color: gray;">If the problem persists, contact support.</p>
   <p style="text-align: center; color: gray;">Thank you for your patience!</p>
   <h3><a style="text-align: center; color: blue; text-decoration:none" href="{% url 'blog' %}">Return To Blog</a></h3>
</body>
</html>