{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href=" {% static "style.css" %} ">
    <title>Lakeside Quill</title>
</head>
<body>
    <main>
        <header>
            <h1>Lakeside Quill - Blog</h1>
            <nav>
                <a href="">Blog</a>
                <a href="">Contact</a>
                <a href="">Login</a>
            </nav>
        </header>

        <div class="container">
            {% for blog in blogs %}
                <div class="blog-post">
                    <img src="{{blog.image}}" alt="lake-image">
                    <p class="upload-date">{{blog.date}}</p>
                    <h2 class="title"><a href="">{{blog.title}}</a></h2>
                    <button>Read</button>
                </div>
            {% endfor %}
        </div>

    </main>

    <footer>
        <p>@sehrishnoreen-portfolio</p>
    </footer>
    <script src="{% static "script.js" %}"></script>
</body>
</html>