h1{
    color: blue;
}


img{
    width: 200px;
    height: 200px;
}

.users{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
}

.user{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    flex-wrap: nowrap;
}