*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(255, 254, 244);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    padding: 10px;
    margin: 10px auto;
    max-width: 1200px;
    & .nav-bar{
        padding: 10px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        & .logo{
            color: orange;
            font-size: 2rem;
            font-weight: 700;
        }
        & .nav ul{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-evenly;
            list-style-type: none;
            gap: 1.5rem;
            & li a{
                text-decoration: none;
                color: green;
                font-size: 1.2rem;
                font-weight: 600;
            } 
        }
    }
}