{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <nav>
        <a href=""> <span class="r">R</span><span class="n">n</span><span class="s">S</span></a>
        <a href="">Home</a>
        <a href="">About</a>
        <a href="">Products</a>
        <a href="">Contact</a>
    </nav>
    {% block content %}
    {% endblock %}
    
</body>
</html>